@import '~node_modules/modern-normalize/modern-normalize.css';

// ===== Reset style =====
/* Anastasiya
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: currentColor;
}
// ===== Base styles =====
html {
  scroll-behavior: smooth;
}
body {
  //   padding-top: 76px;
  //   letter-spacing: 0.32px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: $black-txt;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
/* Card-set сетка для портфолио */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: $indent;
}
/* Формула для портфолио */
.card-set-item {
  flex-basis: calc((100% - $indent * ($items - 1)) / $items);
}
// ===== Common styles =====
.section {
  // max-width: 1400px;
  // margin: 0px auto;
  padding: 60px 0px;
  // outline: 1px solid green;
}
.container {
  margin: 0px auto;
  padding: 0px 20px;
  // outline: 1px solid red;
}
/* Button */
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: calc(19 / 13);
  //   letter-spacing: 0.64px;
  color: $black-txt;
  cursor: pointer;
}
.button-green {
  // display: block;
  min-width: 98px;
  min-height: 32px;
  background-color: $green-bg;
  border: transparent; // или border: none;
  border-radius: $radius;
  transition: background-color $transit;
  &:hover,
  &:focus {
    background-color: $yellow-bg;
  }
}
.button-white {
  //   display: block;
  min-width: 106px;
  min-height: 40px;
  background-color: $white-bg;
  border: 2px solid $dark-green-bg;
  border-radius: $radius;
  transition: background-color $transit, border-color $transit;
  &:hover,
  &:focus {
    background-color: $green-bg;
    border-color: transparent;
  }
}
.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
}
/* ----- min-width: 320px ----- */
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
/* ----- min-width: 768px ----- */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 32px;
  }
  .title {
    font-size: 42px;
  }
}
/* ----- min-width: 1280px ----- */
@media screen and (min-width: 1280px) {
  .section {
    padding: 100px 0px;
  }
  .container {
    max-width: 1280px;
    padding: 0px 16px;
  }
}
