.header {
  box-shadow: 0 4px 24px 0 $shadow-header;
}
.header.no-transparency {
  background-color: $header-cl;
  backdrop-filter: blur(2px);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: auto;
}
.header-logo-icon {
  display: block;
}
.header-nav {
  margin-right: 30px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 28px;
}
.nav-link {
  display: block;
  padding: 25.5px 0px;
  color: $black-txt;
  &:hover,
  &:focus {
    color: $green-bg;
  }
}
.nav-link.current {
  text-decoration: underline;
  color: $green-bg;
}
.header-btn {
  min-width: 98px;
  height: 32px;
  padding: 6px 18px;
}
.header-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 0px;
  fill: $dark-green-bg;
  background-color: transparent;
  border: none;
}
.header-menu-icon {
  fill: inherit;
  transition: fill $transit;
  .header-menu-btn:active,
  .header-menu-btn:hover,
  .header-menu-btn:focus & {
    fill: $yellow-bg;
  }
}
/* ----- MAX-width: 768px ----- */
@media screen and (max-width: 767px) {
  .header-nav,
  .header-btn {
    display: none;
  }
}
/* ----- min-width: 768px ----- */
@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }
}
