.hero-section {
  padding: 60px 0px;
}
.hero-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-title {
  margin-bottom: 28px;
}
.hero-desc {
  max-width: 266px;
  font-size: 14px;
  margin-bottom: 28px;
}
.hero-btn {
  // margin-bottom: 34px;
  padding: 6px 18px;
}
.hero-wrapper-img {
  position: absolute;
  top: 48px;
  right: 32px;
  width: 320px;
  height: 320px;
}
/* ----- MAX-width: 767px ----- */
@media screen and (max-width: 767px) {
  .hero-wrapper-img {
    display: none;
  }
}
/* ----- min-width: 768px ----- */
@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 537px;
    margin-bottom: 44px;
  }
  .hero-desc {
    max-width: 336px;
    font-size: 16px;
    margin-bottom: 40px;
  }
  .hero-btn {
    margin-bottom: 34px;
  }
}
/* ----- min-width: 1280px ----- */
@media screen and (min-width: 1280px) {
  .hero-section {
    padding: 27px 0px;
  }
  .hero-title {
    max-width: 515px;
    font-size: 48px;
    margin-top: 124px;
    margin-bottom: 28px;
  }
  .hero-desc {
    max-width: 515px;
    margin-bottom: 46px;
  }
  .hero-btn {
    margin-bottom: 143px;
  }
  .hero-wrapper-img {
    position: absolute;
    top: 0;
    right: 16px;
    width: 560px;
    height: 560px;
  }
  .hero-img {
    width: 100%;
  }
}
