<div class="about-section section">
  <div class="container">
    <div class="about-wrapper">
      <div class="about-content">
        <h2 class="about-title title">What's Special About Our Offerings</h2>
        <p class="about-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <ul class="about-content-list list">
          <li class="about-content-item">
            <div class="about-wrapper-icon">
              <svg class="about-icon" width="32" height="32">
                <use href="./images/sprite-svg.svg#icon-rocket"></use>
              </svg>
            </div>
            <h3 class="about-content-subtitle">Fasest Delivery</h3>
            <p class="about-content-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
          <li class="about-content-item">
            <div class="about-wrapper-icon">
              <svg class="about-icon" width="32" height="32">
                <use href="./images/sprite-svg.svg#icon-touch"></use>
              </svg>
            </div>
            <h3 class="about-content-subtitle">Easy to order</h3>
            <p class="about-content-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
        </ul>
        <button class="about-btn button-white btn" type="button">
          Order Now
        </button>
        <a
          class="about-link-more link"
          href="#"
          aria-label="aboutmore"
          rel="noopener no-referrer"
          target="_blank"
        >
          Read More
          <svg class="about-icon-more" width="14" height="14">
            <use href="./images/sprite-svg.svg#icon-more"></use></svg
        ></a>
      </div>
    </div>
  </div>
</div>
