<section class="customers-section section">
  <div class="customers-container container">
    <h2 class="customers-title title">What our Customers Say</h2>
    <p class="customers-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers-card-list list">
      <li class="customers-card-item">
        <ul class="customers-stars-list list">
          <li class="customers-stars-item">
            <svg class="customers-stars-icon" width="17" height="16">
              <use href="./images/sprite-svg.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers-stars-item">
            <svg class="customers-stars-icon" width="17" height="16">
              <use href="./images/sprite-svg.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers-stars-item">
            <svg class="customers-stars-icon" width="17" height="16">
              <use href="./images/sprite-svg.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers-stars-item">
            <svg class="customers-stars-icon" width="17" height="16">
              <use href="./images/sprite-svg.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers-stars-item">
            <svg class="customers-stars-icon" width="17" height="16">
              <use href="./images/sprite-svg.svg#icon-stars"></use>
            </svg>
          </li>
        </ul>
        <p class="customers-card-desc">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers-team-wrapper">
          <img
            class="customers-employee-avatar"
            srcset="
              ./images/customers/avatar-img-1@1x.jpg 1x,
              ./images/customers/avatar-img-1@2x.jpg 2x
            "
            src="./images/customers/avatar-img-1@1x.jpg"
            alt="Avatar image imployee"
            width="48"
            height="48"
            loading="lazy"
          />
          <div class="customers-team-item">
            <h3 class="customers-team-caption">Sumith Shah</h3>
            <p class="customers-post-desc">Some Dude</p>
          </div>
        </div>
      </li>

      <li class="customers-card-item">
        <ul class="customers-stars-list list">
          <li class="customers-stars-item">
            <svg class="customers-stars-icon" width="17" height="16">
              <use href="./images/sprite-svg.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers-stars-item">
            <svg class="customers-stars-icon" width="17" height="16">
              <use href="./images/sprite-svg.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers-stars-item">
            <svg class="customers-stars-icon" width="17" height="16">
              <use href="./images/sprite-svg.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers-stars-item">
            <svg class="customers-stars-icon" width="17" height="16">
              <use href="./images/sprite-svg.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers-stars-item">
            <svg class="customers-stars-icon" width="17" height="16">
              <use href="./images/sprite-svg.svg#icon-stars"></use>
            </svg>
          </li>
        </ul>
        <p class="customers-card-desc">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customers-team-wrapper">
          <img
            class="customers-employee-avatar"
            srcset="
              ./images/customers/avatar-img-2@1x.jpg 1x,
              ./images/customers/avatar-img-2@2x.jpg 2x
            "
            src="./images/customers/avatar-img-2@1x.jpg"
            alt="Avatar image imployee"
            width="48"
            height="48"
            loading="lazy"
          />
          <div class="customers-team-item">
            <h3 class="customers-team-caption">Sumith Shah</h3>
            <p class="customers-post-desc">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
