<footer class="footer-section section">
  <div class="footer-container container">
    <a class="footer-logo link" href="./index.html">
      <svg class=footer-logo-icon" width="66" height="52">
        <use href="./images/sprite-svg.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="footer-nav">
        <ul class="footer-nav-list list">
        <li class="footer-nav-item">
          <a class="footer-nav-link link current" href="./index.html">Home</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#about">About</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#">Service</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#">Menu</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
      
    
    <div class="footer-subscribe-wrapper">
    <strong class="footer-subscribe-title">Subscribe</strong>
    <form
        class="subscribe-form"
        name="subscribe-form"
        novalidate
        autocomplete="off"
    >
        <label class="subscribe-form-label">
        <input
            class="subscribe-form-input"
            type="email"
            name="subscribe-user-email"
            placeholder="Enter your email"
            minlength="12"
            required
        />
        <span class="subscribe-warning-msg"
            >Sample email example@mail.com</span
        >
        </label>
    </form>
    <button class="subscribe-btn button-white btn" type="submit">
        Subscribe
    </button>
        <p class="footer-agreement">By subscribing you agree to with our <a href="" class="security-link">Privacy Policy</a></p>
    </div>
    
  </div>
</footer>
