<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="mobile-icon-close" width="24" height="24">
      <use href="./images/sprite-svg.svg#icon-close-btn"></use>
    </svg>
  </button>

  <ul class="mobile-menu list">
    <li class="mobile-item">
      <a class="mobile-link link current" href="./index.html">Home</a>
    </li>
    <li class="mobile-item">
      <a class="mobile-link link" href="#about">About</a>
    </li>
    <li class="mobile-item">
      <a class="mobile-link link" href="#">Service</a>
    </li>
    <li class="mobile-item">
      <a class="mobile-link link" href="#">Menu</a>
    </li>
    <li class="mobile-item">
      <a class="mobile-link link" href="#">Contact</a>
    </li>
  </ul>
</div>
