<section class="subscribe-section section">
  <div class="container subscribe-bg-img">
    <div class="subscribe-wrapper-content">
      <h2 class="subscribe-title title">Subscribe To Get Special Offers</h2>
      <p class="subscribe-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <div class="subscribe-form-wrapper">
        <form
          class="subscribe-form"
          name="subscribe-form"
          novalidate
          autocomplete="off"
        >
          <label class="subscribe-form-label">
            <input
              class="subscribe-form-input"
              type="email"
              name="subscribe-user-email"
              placeholder="Enter your email"
              minlength="12"
              required
            />
            <span class="subscribe-warning-msg"
              >Sample email example@mail.com</span
            >
          </label>
        </form>
        <button class="subscribe-btn button-green btn" type="submit">
          Subscribe
        </button>
      </div>
    </div>
  </div>
</section>
